<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gonzalo Caro</title>
</head>

<body id="main-content">

    <header class="header-container">
        <nav class="nav_bar">
            <h3 class="nav_bar-title">Gonza</h3>
            <ul class="nav_bar-list">
                <li class="nav_bar-options"><a class="options-text" href="#home">Inicio</a></li>
                <li class="nav_bar-options"><a class="options-text" href="#about-me">Sobre mi</a></li>
                <li class="nav_bar-options"><a class="options-text" href="#projects">Proyectos</a></li>
                <li class="nav_bar-options"><a class="options-text" href="#contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <div class="card_center-container ">
                <div class="card_center-content shiny">
                    <h3 class="card_center-title">Desarrollador FrontEnd</h3>
                    <p class="card_center-label">Me gusta desarrollar productos robustos y escalables con una grata
                        experiencia
                        de usuario</p>
                </div>
            </div>
            <div class="card_image-container">
                <img src="" alt="">
            </div>
        </section>
        <section id="about-me">
            <div class="card_about ">
                <div class="card_about-content ">
                    <h1 class="">Diseño</h1>
                    <p class="card_about-label">Me gusta siempre poder llevar a cabo diseños unicos y siempre con
                        enfoque en la experiencia del usuario</p>
                </div>
            </div>
            <div class="card_about-me">
                <div class="card_about-content">
                    <h1 class="">Gonzalo Caro</h1>
                    <p class="card_about-label">Comenzando en esto mi rey</p>
                </div>
            </div>
        </section>
        <section id="projects">
            <div class="card_projects-container">
                <div class="card_projects-content">
                    <h3 class="card_projects-title">Ultimos años</h3>
                    <p class="card_projects-label">Le he puesto weno a la wea yo creo</p>
                </div>
            </div>

        </section>
        <section id="contact">
            <div class="card_contact-container">
                <div class="card_contact-content">
                    <h3 class="card_contact-title">Enviame un mensaje </h3>
                    <p>
                        Cualquier duda, inquietud, proyecto, lo que sea, no dudes en contactarme
                    </p>
                    <form action="/action_page.php">
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" name="fname" value="John"><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" name="lname" value="Doe"><br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

        </section>
        <section id="footer">
            <div class="card_footer-container">
                <div class="card_footer-content">
                    <h3 class="card_footer-title">Gonzalo Caro</h3>
                    <p class="card_footer-label">Desarrollador FrontEnd</p>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/functions.js"></script>
</body>



</html>
<style>
    @import url('../css/style.css');
</style>